$colorPrincipal: rgb(203, 220, 236);
$relleno: 10px;
$relleno-2: 1px;


* {
    margin: 0;
    padding: 0;
    font-family: border-box;

}

body {
    background-color: $colorPrincipal;
    font-family: sans-serif;
    
}

.header {
    
    height: 80px;
    width: 100%;
    position: static;
    top: 0;
    left: 0;
    

    .nav{
        display: flex;
        justify-content: space-between;
        
        margin: 0 auto;
        background-color: rgb(137, 163, 155);
    }
    .nav-link{
        color: white;
        text-decoration: none;
    }

    .logo{
        font-size: 30px;
        font-weight: bold;
        padding: 0 40px;
        line-height: 80px;
    }

    .nav-menu{
        display: flex;
        margin-right: 40px;
        list-style: none;
    }

    .nav-menu-item{
        font-size: 18px;
        margin: 0 10px;
        line-height: 80px;
        text-transform: uppercase;
        width: max-content;
    }
    .nav-menu-link:hover{
        background-color: #21cc93;
        transition: 0.5s;
    }

    .nav-menu-link{
        padding: 8px 12px;
        border-radius: 3px;
    }
    .nav-toggle{
      color: white;
      background: none;
      border: none;
      font-size: 30px;
      padding: 0 20px;
      line-height: 60px;
      display: none;
      cursor: pointer;

    }
    .nav-menu_visible{
        left: 0;
    }
    

}


.banner {
    width: 100%;
    height: calc(100vh - 50px);
    background-image: url(../assetts/Img/michaela-murphy--nR1X5NYmYo-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: all .1s ease-in-out;
    animation: banner 28s infinite linear;

    .banner-content {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        background-color: rgba(0, 22, 40, .6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner-content h1 {
        margin: 0;
        padding: 0;
        padding-bottom: 30px;
        font-size: 40px;
        text-align: center;
    }

    .banner-content a {
        text-decoration: none;
        color: #fff;
        padding: 9px 20px;
        border: 1px solid #fff;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
    }

    .banner-content a:hover {
        background-color: #fff;
        color: #333
    }
}

.banner-2 {
    width: 100%;
    height: 200px;
    background-image: url(../assetts/Img/edz-norton-_nug8KZ8KUQ-unsplash.jpg);
    background-size: cover;

    background-position: center;
    transition: all .1s ease-in-out;

    margin: 0;
    padding: 0;

    color: #fff;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .banner-2 h1 {
        margin: 0;
        padding: 0;
        padding-bottom: 30px;
        font-size: 40px;
        text-align: center;
    }

}

@keyframes banner {
    0% {
        background-image: url(../assetts/Img/michaela-murphy--nR1X5NYmYo-unsplash.jpg);
    }

    25% {
        background-image: url(../assetts/Img/michaela-murphy--nR1X5NYmYo-unsplash.jpg);
    }

    26% {
        background-image: url(../assetts/Img/organic-3.jpg);
    }

    50% {
        background-image: url(../assetts/Img/organic-3.jpg);
    }

    51% {
        background-image: url(../assetts/Img/katherine-hanlon-bd_fCZhy_W8-unsplash.jpg);
    }

    75% {
        background-image: url(../assetts/Img/katherine-hanlon-bd_fCZhy_W8-unsplash.jpg);
    }

    76% {
        background-image: url(../assetts/Img/vya-naturals-WbFFNqHKBiY-unsplash.jpg);
    }

    100% {
        background-image: url(../assetts/Img/vya-naturals-WbFFNqHKBiY-unsplash.jpg);
    }
}


.imagenes:hover {
    height: 300px;
}

.img-main {
    animation-name: comprar;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 3s;
    animation-iteration-count: 1;
}



.article-info {
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-align: center;

}

#fondo {
    background-image: url(../assetts/Icons/v870-tang-30.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

.buttom {
    background-color: #0de44d;
    color: white;
    font-size: 14px;
    padding: 8px 35px;
    border-radius: 25px;
    transition: all 2s;
}

.buttom:hover {
    height: 50px;
    background-color: #0bc041;
}

.comerciales {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;


}

.card {
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.comprar {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    font-family: 'Noto Serif', serif;

}

@mixin img-main($alto, $ancho) {
    height: $alto;
    width: $ancho;
}

@mixin imagen-logo($ancho, $alto) {
    height: $alto;
    width: $ancho;
}

@mixin crear-flexbox ($justify) {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.img-main {
    @include img-main(200px, 200px)
}

.img-logo {
    width: 200px;
}

.imagen {
    display: flex;

}

.buttom {
    display: flex;
    justify-content: center;
}

.margen {
    background-color: aqua;
    margin: 15px 20px 25px 30px;
    padding: 30px 25px 20px 15px;
}

.menu-de-cosmetologia {

    font-family: "poppins", sans-serif;
    font-size: 25px;
    text-align: center;

    width: 90%;
    height: 600px;
    margin: 80px auto;
    border: 1px groove rgb(248, 244, 244);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas:
        "Belleza Belleza"
        "Maquillaje Fragancias"
        "Piel Piel "
}

.item1 {
    background-color: gold;
    font-size: 30px;
    grid-area: Belleza;
    font-family: "poppins", sans-serif;
}

.maquillaje {
    background-image: url(../assetts/Img/cosmetologia1.png);
    background-size: cover;
    font-size: 30px;
    grid-area: Maquillaje;
    font-family: "poppins", sans-serif;
}

.perfumesyfragancias {
    background-image: url(../assetts/Img/cosmetologia2.png);
    background-size: cover;
    font-size: 30px;
    grid-area: Fragancias;
    font-family: "poppins", sans-serif;

}

.cuidadosdelapiel {
    background-image: url(../assetts/Img/cosmetologia3.png);
    background-size: cover;
    font-size: 30px;
    grid-area: Piel;
    font-family: "poppins", sans-serif;
}


.menu-de-dermocosmetica {
    font-family: "poppins", sans-serif;
    font-size: 25px;
    text-align: center;

    width: 90%;
    height: 600px;
    margin: 80px auto;
    
    border: 1px groove rgb(248, 244, 244);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas:
        "Dermocosmética Dermocosmética"
        "Rostro Solar"
        "Corporal Cabello"
}

.item2 {
    background-color: rgb(0, 17, 255);
    font-size: 30px;
    grid-area: Dermocosmética;
    font-family: "poppins", sans-serif;
}

.rostro {
    background-image: url(../assetts/Img/dermocosmetica1.png);
    background-size: cover;
    font-size: 30px;
    grid-area: Rostro;
    font-family: "poppins", sans-serif;
}

.solar {
    background-image: url(../assetts/Img/dermocosmetica2.png);
    background-size: cover;
    font-size: 30px;
    grid-area: Solar;
    font-family: "poppins", sans-serif;
}

.corporal {
    background-image: url(../assetts/Img/dermocosmetica3.png);
    background-size: cover;
    font-size: 30px;
    grid-area: Corporal;
    font-family: "poppins", sans-serif;
}

.cabello {
    background-image: url(../assetts/Img/dermocosmetica4.png);
    background-size: cover;
    font-size: 30px;
    grid-area: Cabello;
    font-family: "poppins", sans-serif;
}

.menu-cuidado-personal {
    font-family: "poppins", sans-serif;
    font-size: 25px;
    text-align: center;

    width: 90%;
    height: 600px;
    margin: 80px auto;
    border: 1px groove rgb(248, 244, 244);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas:
        "Cuidado-Personal Cuidado-Personal"
        "Adultos Salud-Oral"
        "Higiene-Personal Higiene-Personal"
}

.item3 {
    background-color: rgb(0, 255, 76);
    font-size: 30px;
    grid-area: Cuidado-Personal;
    font-family: "poppins", sans-serif;
}

.adultos {
    background-image: url(../assetts/Img/cuidadopersonal1.png);
    background-size: cover;
    font-size: 30px;
    grid-area: Adultos;
    font-family: "poppins", sans-serif;
}

.salud-oral {
    background-image: url(../assetts/Img/cuidadopersonal2.png);
    background-size: cover;
    font-size: 30px;
    grid-area: Salud-Oral;
    font-family: "poppins", sans-serif;
}

.higiene-personal {
    background-image: url(../assetts/Img/cuidadopersonal3.png);
    background-size: cover;
    font-size: 30px;
    grid-area: Higiene-Personal;
    font-family: "poppins", sans-serif;
}


.menu-de-promociones {
    font-family: "poppins", sans-serif;
    font-size: 25px;
    text-align: center;

    width: 90%;
    height: 600px;
    margin: 80px auto;
    border: 1px groove rgb(248, 244, 244);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas:
        "Ofertas Ofertas"
        "Descuento-a Descuento-B"
        "Descuento-a Descuento-C "

}

.item4 {
    background-image: url(../assetts/Img/porcentajes.png);
    font-size: cover;
    font-size: 30px;
    grid-area: Ofertas;
    font-family: "poppins", sans-serif;
}

.descuento-a {
    background-image: url(../assetts/Img/descuento-a.png);
    background-size: cover;
    font-size: 30px;
    grid-area: Descuento-a;
    font-family: "poppins", sans-serif;
}

.descuento-b {
    background-image: url(../assetts/Img/descuento-b.png);
    background-size: cover;
    font-size: 30px;
    grid-area: Descuento-B;
    font-family: "poppins", sans-serif;
}

.descuento-c {
    background-image: url(../assetts/Img/descuento-c.png);
    background-size: cover;
    font-size: 30px;
    grid-area: Descuento-C;
    font-family: "poppins", sans-serif;
}

.formulario-contacto form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 80px auto;
}

.body-contact{
    
    margin: 80px auto;
}

.formulario-contacto {
    background-color: #8be2a5;
}

.formulario-contacto form .bloque {
    grid-column: 1/3;
}

.formulario-contacto form p {
    margin: 0;
    padding: 1em;
}

.formulario-contacto form textarea {
    width: 100%;
    padding: .7rem;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid #f7f6f6;
    color: #fff;
}

.formulario-contacto form button {
    background-color: #e7ecec;
    border: 0;
    text-transform: uppercase;
    padding: 1rem;
}

.info-contacto {
    background-color: #000;
}

.info-contacto ul,
.info-contacto p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.info-contacto ul {
    list-style-type: none;
    padding: 0;
}

.info-contacto ul li {
    padding: .3rem;
}

#footer {
    display: flex;
    justify-content: space-around;


    color: rgb(62, 69, 75);
    font-size: 20px;

    background-image: url(../assetts/Icons/2112.w023.n001.1505B.p1.1505.jpg);
    background-size: cover;
    box-sizing: border-box;

}

i {
    font-size: 2.2rem;
}

@media only screen and (max-width:768px) {

    body {
       
       padding-top: 0px;
        

        .header {
            
            height: 60px;
           


            .nav{
               

               

                
            
                .logo{
                    font-size: 25px;
                    
                    padding: 0 20px;
                    line-height: 60px;
                }
            
                .nav-menu{
                    flex-direction: column;
                    align-items: center;
                    margin-right: 20px;
                    
                    background-color: #333;
                    margin: 0;
                    position: fixed;
                    left: 0;
                    top: 60px;
                    width: 100%;
                    padding: 20px 0;
                    height: calc(100%-60px);
                    overflow-y: auto;
                    left: 100%;
                    transition: left 0.3s;

        
                }
            
                .nav-menu-item{
                 line-height: 70px;
                   
                }
                .nav-menu-link:hover{
                    background: none;
                    color: #23b9df;
                }
                .nav-toggle{
                    
                    display: block;
              
                }
                .nav-menu_visible{
                    left: 0;

                }

            }
        }
    }



    .info-contacto {
        width: 100%;
    }

    .contactanos {
        display: flex;
        flex-direction: column;
    }

    .comprar {
        font-family: "poppins", sans-serif;
        font-size: 25px;
        text-transform: uppercase;

        width: 100%;
        margin: px auto;
        border: 1px groove black;

        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;


    }

    .comerciales {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-de-promociones {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-areas:
            "Ofertas"
            "Descuento-a"
            "Descuento-B"
            "Descuento-C";
        gap: 10px;
    }

    .menu-de-dermocosmetica {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-areas:
            "Dermocosmética"
            "Rostro"
            "Solar"
            "Corporal"
            "Cabello";
        gap: 10px;
    }

    .menu-de-cosmetologia {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-areas:
            "Belleza"
            "Maquillaje"
            "Fragancias"
            "Piel "

    }

    .menu-cuidado-personal {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-areas:
            "Cuidado-Personal"
            "Adultos"
            "Salud-Oral"
            "Higiene-Personal"

    }
}

@media only screen and (max-width:576px) {

    body {
       
        padding-top: 70px;
         
 
         .header {
             
             height: 60px;
            
 
 
             .nav{
                
 
                
 
                 
             
                 .logo{
                     font-size: 25px;
                     
                     padding: 0 20px;
                     line-height: 60px;
                 }
             
                 .nav-menu{
                     flex-direction: column;
                     align-items: center;
                     margin-right: 20px;
                     background-color: #333;
                     margin: 0;
                     position:fixed;
                     left: 0;
                     top: 60px;
                     width: 100%;
                     padding: 20px 0;
                     height: calc(100%-60px);
                     overflow-y: auto;
                     left: 100%;
                     transition: left 0.3s;
 
         
                 }
             
                 .nav-menu-item{
                  line-height: 70px;
                    
                 }
                 .nav-menu-link:hover{
                     background: none;
                     color: #23b9df;
                 }
                 .nav-toggle{
                     
                     display: block;
               
                 }
                 .nav-menu_visible{
                     left: 0;
 
                 }
 
             }
         }
     }
 


   



    .comprar {
        font-family: "poppins", sans-serif;
        font-size: 25px;
        text-transform: uppercase;

        width: 100%;
        margin: px auto;
        border: 1px groove black;

        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;



    }

    .info-contacto {

        display: flex;

        text-align: center;
        align-items: center;
    }

    .contactanos {
        display: flex;
        flex-direction: column;
    }

    .comerciales {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-de-promociones {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-areas:
            "Ofertas"
            "Descuento-a"
            "Descuento-B"
            "Descuento-C";
        gap: 10px;
    }

    .menu-de-dermocosmetica {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-areas:
            "Dermocosmética"
            "Rostro"
            "Solar"
            "Corporal"
            "Cabello";
        gap: 10px;
    }

    .menu-de-cosmetologia {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-areas:
            "Belleza"
            "Maquillaje"
            "Fragancias"
            "Piel "

    }

    .menu-cuidado-personal {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-areas:
            "Cuidado-Personal"
            "Adultos"
            "Salud-Oral"
            "Higiene-Personal"

    }







}